{% extends 'header.html'%}
{% load staticfiles %}
{% block head %}
<style>
    .cats:hover{
        box-shadow: 0px 0px 3px gray;
    }
</style>
{% endblock %}
{% block code %}
<div class="container mt-5">
    <div class="row">
        {% for i in cat %}
            <div class="col-md-3 text-center mb-3">
                <div class="border border-light p-3 cats">
                    <a href="{% url 'quizapp:quiz'%}?q={{i.id}}" title="{{i.description}}">
                        <img src="/media/{{i.image}}" height="150" width="80%">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}