<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SacTech Online Quiz</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <link rel="shortcut icon" href="{% static 'images/logo.png'%}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand" style="box-shadow:0px 2px 2px gray;">
                    <a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}"></a>
                    <ul class="ml-auto navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link" data-toggle=dropdown>Welcome {{user.first_name}}</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'quizapp:uslogout'%}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% block code %}
    {% endblock %}
</body>
</html>