{% extends 'base.html'%}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-6 mx-auto mt-5 text-center">
            <img src="{% static 'images/logo.png'%}" >
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto p-5 mt-5" style="box-shadow:0px 0px 20px gray;">
            {% if error %}
                <p class="{{color}}">{{error}}</p>
            {% endif %}
            <form method="post">
                {% csrf_token%}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter Username" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter Password" name="password">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 mb-sm-3 mb-3">
                            <input type="submit" name="signin" value="Sign In" class="btn btn-info btn-block">
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'quizapp:register'%}" class="btn btn-info btn-block">Sign Up</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}