{% extends 'header.html'%}
{% load staticfiles %}
{% block head %}
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 300px;
}
</style>

{% endblock %}
{% block code %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="tab">  
                <button class="tablinks collapse" onclick="openCity(event, 'open')" id="defaultOpen"></button>
                {% for i in ques %}
                <button class="tablinks" onclick="openCity(event, 'q{{i.id}}')">{{i.sr}}</button>
                {% endfor %}
            </div>
            <form method="post">
                {% csrf_token%}
                <div id="open" class="tabcontent">
                    <div class="alert p-5  my-4 alert-info">
                        Hii {{user.first_name}} <br> Best of Luck!!
                    </div>
                </div>
            {% for i in ques %}
                <div id="q{{i.id}}" class="tabcontent collapse">
                    <div class="form-group pt-2">
                        <p class="alert alert-warning"><label>{{i.sr}}. {{i.question}}</label></p>
                    </div>
                    <ol>
                        {% for j in i.options %}
                            <div class="form-group">
                                <div class="form-control">
                                    <input type="radio" name="op{{i.id}}" value="{{j}}">
                                    <label for="op{{i.id}}">{{j}}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </ol>
                
                </div>
            {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Submit Quiz">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

{% endblock  %}