{% extends 'base.html'%}
{% load staticfiles %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-5 my-5" style="box-shadow:0px 0px 20px gray;">
            <div class="text-center">
                <img src="{% static 'images/logo.png'%}">
            </div>
            <div>
                {% if error %}
                    <p class="{{color}}">{{error}}</p>
                {% endif %}
                {% if success %}
                    <p class="{{color}}">{{success}}
                        <a href="{% url 'index'%}">Login Here</a>
                    </p>
                {% endif %}
            </div>
            <form method="post">
                {% csrf_token%}
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 mb-sm-3">
                            <label>Father Name</label>
                            <input type="text" class="form-control" placeholder="Father Name" name="fname">
                        </div>
                        <div class="col-md-6">
                            <label>Mother Name</label>
                            <input type="text" class="form-control" placeholder="Mother Name" name="mname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control" name="dob">
                </div>
                <div class="form-group">
                    <label>Contact Number</label>
                    <input type="number" class="form-control" name="contact">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 mb-sm-3">
                            <label>Password</label>
                            <input type="password" class="form-control" name="pas">
                        </div>
                        <div class="col-md-6">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="cpas">
                        </div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label>College</label>
                    <select name="college" class="form-control">
                        {% for i in colleges %}
                        <option value="{{i.id}}">{{i.college_name}},{{i.landmark}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Admission No</label>
                    <input type="number" class="form-control" name="addmission_no" value="0">
                </div>
                <div class="form-group">
                    <label>Roll No.</label>
                    <input type="number" class="form-control" name="roll_no" required>
                </div>
                <div class="form-group">
                    <input type="submit" name="signup" value="Sign Up" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}